h1 {												
	color: #000000;											
	background-color: #696969;	
	border: 1px solid black;
	text-align: center;																	
}												

p {
	color: #909090;
	text-align: justify;
	margin:30px;	
}